

.section__cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article__user{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
}



.lista_cuenta{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.nombre_cuenta,.titulo__modificar--datos,.titulo__cambio--contraseña,.titulo__pedidos--perfil{
    font-weight: bold;
    font-size: 2.1em;
    font-family: Hiromisake;
    border-bottom: 2px solid black;
    text-align: center;
}
.lista_cuenta li{

    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.ul__direccionesEnvio {
    list-style: none;
    font-size: 0.6em;
    margin: 10px;
}

.direccionesEnvio__perfil{
    margin: 10px;
    font-size: 1.2em;
}
li .li__AñadirEliminar--Direcciones{
    font-size: 0.9em;
    margin: 10px;
    text-align: center;
    background-color: rgb(232, 212, 238);
}
/* rgb(4, 155, 4) */
.pedidos__perfil,.cambiarContraseña__perfil,.cambiar_datos,.li__AñadirEliminar--Direcciones,.li__productos--ganados{
    text-align: center;
    cursor: pointer;
}
@keyframes color {
    from{ background-color: rgb(232, 212, 238);}
    to{ background-color: rgb(187, 101, 211); color: white}
}
article .pedidos__perfil,article .cambiarContraseña__perfil,article .cambiar_datos, article .li__productos--ganados{
    background-color: rgb(232, 212, 238);
}
.pedidos__perfil:hover,.cambiarContraseña__perfil:hover,.cambiar_datos:hover,.li__AñadirEliminar--Direcciones:hover, .li__productos--ganados:hover{
    animation-name: color ;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.div__datos--perfil,.div__contraseñas--perfil{
    display: grid;
    grid-template-columns: auto;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    gap: 15px;
}
.div__datos--perfil label,.div__contraseñas--perfil label{
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
.div__contraseñas--perfil input{
    font-size: 1em;
    margin-left: 10px;
}
.div__contraseñas--perfil label{
    margin: 15px;
}
.div__contraseñas--perfil p {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid rgb(109, 107, 107);
}
.div__datos--perfil input{
    font-size: 1em;
    margin-left: 10px;
}
.botones__perfil--volverConfirmar{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
    gap: 5px;
}
.botones__perfil--volverConfirmar button{
    border-radius: 10px;
}

.botones__perfil--volverConfirmar button:hover{
    cursor: pointer;
    background-color: rgb(4, 155, 4);
}

.div__contraseñas--perfil{
    display: grid;
    grid-template-columns: auto;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: azure;
}

.ul__DireccionesEnvio--Mod{
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    text-align: center;
}
.material-symbols-outlined:hover{
    cursor: pointer;
    color: red;
}
.material-symbols-outlined{
    font-size: 2.5em;
}
.div__añadir--direccion{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    font-size: 1.1em;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.div__añadir--direccion label{
    margin: 10px;
    font-size: 1.3em;
    font-weight: bold;
}
.div__añadir--direccion input{
    font-size: 1em;
    margin-left: 10px;
}

.boton__eliminar--direccion{
    background-color: white;
    border: none;
}

.articulo__order--perfil{
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 15px;
    font-size: 1.3em;

}

.div__numPedidoFecha--perfil{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-family: 'MonsterratBold';
    font-weight: bold;
}

.div__productoPedidos--perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    gap: 5px;
}
.div__direccionPrecioTotal--perfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
}
.precio__totalPedido--perfil{
    font-family: 'MonsterratBold';
    font-weight: bold;
}

.boton_volverAtras{
    font-size: 1em;
    margin: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    border-color: #451d72;
    box-shadow: 3px 4px 0px 0px #d58ae7;
	background:linear-gradient(to bottom, #cfaaf1 5%, #923ce2 100%);
}
.boton_volverAtras:hover{
    background:linear-gradient(to bottom, #923ce2 5%, #cfaaf1 100%);
	background-color:#923ce2;
    cursor: pointer;
}
.boton_volverAtras:active{
    position:relative;
	top:1px;
}

.boton__confirmar{
    font-size: 1em;
    margin: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    border-color: #39772a;
    box-shadow: 3px 4px 0px 0px #a9f0cd;
	background:linear-gradient(to bottom, #e1f3e1 5%, #9efa87 100%);
}
.boton__confirmar:hover{
    background:linear-gradient(to bottom, #9efa87 5%, #e1f3e1 100%);
	background-color:#9efa87;
    cursor: pointer;
}
.boton__confirmar:active{
    position:relative;
	top:1px;
}

.producto__ganador--article{
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 15px;
}

.producto__ganador--divFechaId{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.producto__ganador--nombre{
    margin: 10px;
}
.producto__ganador--aviso{
    margin: 10px;
    font-size: 1.1em;
}
.producto__ganador--aviso{
    margin: 10px;
    font-size: 1.1em;
}

@media(max-width: 500px){
    .producto__ganador--divFechaId{
        flex-direction: column;
    }
}
