
.section__carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article_img--rex{
    display: flex;
    max-width: 100%;
}
.img_rex{
    width: 100%;
    height: auto;
}

.articulo__producto--carrito{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    margin: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 100%;
}

.img_producto--carrito{
    width: 150px;
    max-height: 150px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.div__botonCantidad--carrito{
    display: flex;
    align-items: center;
    border: 1px solid rgb(206, 201, 201);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.boton_mas_menos{
    max-height: 25px;
    width: 25px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 40%;
    margin: 15px;
}

.articulo__carrito_final{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    margin: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;

}

.articulo__final--venta{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    align-items: center;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    background-color: rgb(236, 188, 188);
}
.lista_errores_carrito{
    list-style: none;
    color: rgb(255, 0, 0);
    font-size: 1em;
    font-family: 'MontserratBold';
    padding: 0;
    margin: 15px;
}
.titulo_error_carrito{
    font-size: 1.5em;
    font-family: 'MontserratBold';
    margin: 15px;
}
.subtitulo_error_carrito{
    font-size: 1.3em;
    font-family: 'Montserrat';
    margin: 15px;
}

.boton_cerrar{
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:15px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
    margin: 15px;
}
.titulos_carrito{
    font-size: 1.6em;
    font-family: 'Hiromisake';
    border-bottom: 2px solid black;
}
.boton__carrito--finalizarCompra{
    font-size: 1em;
    margin: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    border-color: #39772a;
    box-shadow: 3px 4px 0px 0px #a9f0cd;
	background:linear-gradient(to bottom, #e1f3e1 5%, #9efa87 100%);
}
.boton__carrito--finalizarCompra:hover{
    background:linear-gradient(to bottom, #9efa87 5%, #e1f3e1 100%);
	background-color:#9efa87;
    cursor: pointer;
}
.boton__carrito--finalizarCompra:active{
    position:relative;
	top:1px;
}
.boton__borrarProducto--carrito{
    border: none;
    background-color: white;
}
.boton__borrarProducto--carrito .material-symbols-outlined{
    font-size: 2.5em;
}

.material-symbols-outlined:hover{
    cursor: pointer;
    color: red;
}

@media(max-width: 900px){
    .articulo__producto--carrito{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
    }
}
@media(max-width: 710px){
    .articulo__carrito_final{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;

    }
}

@media(max-width: 500px){
    .articulo__producto--carrito{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
    }
}
