.section__mapa--web{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__mapa--web{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;
    margin: 20px;
}

.lista__mapa--web,.lista__mapa--web li ul li {
    list-style: none;
    margin: 10px;
}
.lista__mapa--web a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.inicio__rutas--mapaWeb{
    font-family: 'MontserratBold';
    font-size: 1.7em;
}

.rutas__mapa--web{
    font-family: 'MontserratBold';
    font-size: 1.3em;
    margin: 25px;
}
.rutas__mapa--web ul{
    font-family: 'Montserrat';
    font-size: 1.1em;
}
@keyframes links {
    from{color: black;font-size: 1.1em;font-weight: 500;border-bottom: 2px solid rgb(170, 167, 167);}
    to{color: rgb(166, 91, 236); font-size: 1.2em;font-weight: bold;border-bottom: 2px solid rgb(78, 78, 78);}
}

.rutas__mapa--web a:hover{
    animation-name: links;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes linkInicio {
    from{color: black;font-size: 1.7em;border-bottom: 2px solid rgb(153, 144, 144);}
    to{color: rgb(166, 91, 236); font-size: 2em;border-bottom: 2px solid rgb(44, 44, 44);}
}
.inicio__rutas--mapaWeb:hover{
    animation-name: linkInicio;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
