
.error{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_error{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}
.boton_error{
    z-index: 2;
    position: absolute;
    margin: 0 ;
    font-size: 3em;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    color: black;
}
@keyframes agrandar {
    from{background-color: white; font-size: 3em;}
    to{background-color: rgb(143, 238, 0);font-size: 5em;}
}
.boton_error:hover{
    animation: agrandar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
