


.article__gacha{
    display: flex;
    justify-content: center;
}
.gacha__container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.img_ruleta{
    max-width: 600px;
    transition: all 5s;
}

.vara_premio{
    height: 90px;
    width: 15px;
    background-color: gray;
    margin: auto;
    position: relative;
    border-radius:10px;
    border: 1px solid black;
    z-index: 2;
    top: 90px;
}

.info__gracha--container{

}
